{
  "producers": {
    "REPLACE_WITH_PRODUCER_TOKEN": {
      "targets": "*"
    },
    "REPLACE_WITH_UI_TOKEN": {
      "targets": ["speaker"]
    },
    "REPLACE_WITH_DISPLAY_TOKEN": {
      "targets": ["epaper"]
    }
  },
  "devices": {
    "speaker": {
      "token": "REPLACE_WITH_SPEAKER_TOKEN"
    },
    "epaper": {
      "token": "REPLACE_WITH_EPAPER_TOKEN"
    }
  }
}
